
ADPY-2/diplomresult_file.json
ADPY-2/diplom/result_file.json
ADPY-2/diplom/utils/__pycache__/params.cpython-37.pyc
ADPY-2/diplom/.idea/workspace.xml
ADPY-2/diplom/__pycache__/config.cpython-37.pyc
ADPY-2/diplom/__pycache__/search.cpython-37.pyc
ADPY-2/diplom/__pycache__/vkclass.cpython-37.pyc
ADPY-2/diplom/db/__pycache__/__init__.cpython-37.pyc
ADPY-2/diplom/db/__pycache__/db_config.cpython-37.pyc
ADPY-2/diplom/db/__pycache__/offset.cpython-37.pyc
ADPY-2/diplom/db/__pycache__/writer.cpython-37.pyc
ADPY-2/diplom/score/__pycache__/__init__.cpython-37.pyc
ADPY-2/diplom/score/__pycache__/defaults.cpython-37.pyc
ADPY-2/diplom/score/__pycache__/scoring.cpython-37.pyc
ADPY-2/diplom/utils/__pycache__/__init__.cpython-37.pyc
ADPY-2/diplom/utils/__pycache__/json_data.cpython-37.pyc
DJ-7/databases_2/orm_migrations/venv/
