{% extends "base.html" %}



{% block content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">{{ article.title_art }}</h1>
                <h2>{{ product.title_prod }}</h2>
                <p>{{ product.description_prod }}</p>
                <a href="{% url 'product' product.id %}" class="justify-content-center">
                    <img src="/{{ product.image_prod }}" width="200">
                </a>
            </div>
        </div>

        {% if request.user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary" name="product" value="{{ product.id }}">Добавить в
                    корзину »
                </button>
            </form>
        {% endif %}

        {% if list_articles %}
            <div class="container">
            <h2>Articles</h2>
            </div>
            {% for article in list_articles %}
                <div class="jumbotron">
                    <div class="container">
                        <h1>{{ article.title_art }}"</h1>
                        <a href="javascript:void(0)" onclick="showHide('block_id')">Show/hide article</a><br/><br/>
                        <div id="block_id" style="display: none;">
                            <p>{{ article.description_art }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </main>




{% endblock %}


