{% extends "base.html" %}



{% block content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">{{ article.title_art }}</h1>
                <h2>{{ product.title_prod }}</h2>
                <p>{{ product.description_prod }}</p>
                <a href="{% url 'product' product.id %}" class="justify-content-center">
                    <img src="/{{ product.image_prod }}" width="200">
                </a>
            <p>
            {% if user.is_authenticated %}
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary" name="product" value="{{ product.id }}">ADD TO CART »
                    </button>
                </form>
            {% endif %}
            </p>
            </div>
        </div>



        {% if list_articles %}
            <div class="container">
                <h2>Articles</h2>
            </div>
            {% for article in list_articles %}
                <div class="jumbotron">
                    <div class="container">
                        <h1>{{ article.title_art }}"</h1>
                        <a href="javascript:void(0)" onclick="showHide('{{ article.id_art }}')">Show/hide article</a><br/><br/>
                        <div id="{{ article.id_art }}" style="display: none;">
                            <p>{{ article.description_art | safe }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </main>




{% endblock %}


